* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
  padding: 0px 5px 0px 5px;
  border-radius: 8px;
}

window#waybar {
  background: rgba(0,0,0,0);
}

#custom-launcher {
  font-size: 20px;
  color: #faf7f7;
  background: #313244;
  padding: 0px 12px 0px 4px;
  margin: 0px;
}

#cpu,
#memory,
#temperature,
#pulseaudio,
#clock,
#network {
  color: #faf7f7;
  background: #313244;
  margin: 0px 5px 0px 0px;
}

#memory {
  margin-left: 5px;
}

#temperature {
  margin-left: 5px;
}

#workspaces {
  background: #313244;
}

#workspaces button {
  border-radius: 15px;
  padding: 0px;
}

#workspaces button label {
  color: #faf7f7;
  margin: 0px 3px 0px 3px;
  padding: 0px;
}

#workspaces button.active {
  background: #585b70;
  margin: 2px 0px 2px 0px;
  border-radius: 15px;
} 

#tray {
  background: #313244;
  margin: 0px 5px 0px 0px;
}
